---
import "@/styles/global.css";

import { calculatorTypes } from "@/utils/calculator";
import BaseLayout from "@/layouts/base-layout.astro";
import { type InferGetStaticPropsType } from "astro";
import { BaseConverter } from "@/components/base-converter";
import { Separator } from "@/components/ui/separator";
import Article from "@/articles/base-converter.mdx";
import Adsense from "@/components/adsense.astro";
import { createTitle } from "@/utils/title";
import { createTranslation } from "@/utils/language";
import { languages } from "@/utils/language";

export function getStaticPaths() {
  const paths: {
    params: {
      from: string;
      to: string;
      lang: string;
    };
  }[] = [];

  for (const lang in languages) {
    for (const from of calculatorTypes) {
      for (const to of calculatorTypes) {
        if (from === to) continue;

        paths.push({
          params: {
            from,
            to,
            lang,
          },
        });
      }
    }
  }

  return paths;
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { from, to, lang } = Astro.params as Props;

const t = createTranslation(lang);

const title = createTitle(t, from, to);
const description = t("base-converter.description", title);
---

<BaseLayout {t} {title} {description}>
  <div
    class="text-center min-h-[calc(100dvh-10rem)] md:min-h-[calc(100dvh-16rem)] flex justify-center flex-col"
  >
    <h3 class="text-3xl font-bold">{t("base-converter.hero.title")}</h3>
    <p class="text-muted-foreground">
      {t("base-converter.hero.description")}
    </p>
    <BaseConverter
      language={lang}
      defaultFromId={from}
      defaultToId={to}
      client:visible
    />
    <div class="grid md:grid-cols-2 gap-4">
      <Adsense />
      <Adsense />
    </div>
  </div>
  <Separator className="my-8 block bg-border/50" />
  <article
    class="my-4 prose dark:prose-invert mx-auto prose-h1:text-center max-w-screen-md"
  >
    <Article
      components={{
        Adsense,
      }}
    />
  </article>
</BaseLayout>
