---
import "@/styles/global.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import H1 from "@/components/ui/h1.astro";
import H2 from "@/components/ui/h2.astro";
import { calculatorConfig } from "../utils/calculator";
import { ArrowRightLeft } from "lucide-react";
import { Calculator, ArrowRight } from "lucide-react";
import Text from "../components/ui/text.astro";
import Muted from "../components/ui/muted.astro";

const calculators: {
	title: string;
	href: string;
	from: string;
	to: string;
}[] = [];

const example = 69;

for (const [fromId, from] of Object.entries(calculatorConfig)) {
	for (const [toId, to] of Object.entries(calculatorConfig)) {
		if (fromId === toId) continue;

		calculators.push({
			title: `${from.title}轉${to.title}進位`,
			href: `/calculator/${fromId}/${toId}`,
			from: example.toString(from.base),
			to: example.toString(to.base),
		});
	}
}
---

<BaseLayout title="我只想要個快一點的小工具。">
	<H1 class="mb-16">我只想要個快一點的小工具。</H1>
	<H2 class="mb-8 flex items-center gap-2"><ArrowRightLeft /> 進制轉換</H2>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
		{
			calculators.map((config) => (
				<a href={config.href}>
					<div class="p-5 border rounded-md space-y-2">
						<Calculator />
						<Text>{config.title}</Text>
						<div class="flex items-center gap-2">
							<Muted class="flex">{config.from}</Muted>
							<Muted class="flex">
								<ArrowRight size="12" />
							</Muted>
							<Muted class="flex">{config.to}</Muted>
						</div>
					</div>
				</a>
			))
		}
	</div>
</BaseLayout>
