---
import "@/styles/global.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import H1 from "@/components/ui/h1.astro";
import H2 from "@/components/ui/h2.astro";
import { calculatorConfig } from "../utils/calculator";
import { ArrowRightLeft, Sparkles } from "lucide-react";
import HomeItem from "../components/HomeItem.astro";

interface Item {
	title: string;
	href: string;
	from: string;
	to: string;
}

const calculators: Item[] = [];

const example = 69;

for (const [fromId, from] of Object.entries(calculatorConfig)) {
	for (const [toId, to] of Object.entries(calculatorConfig)) {
		if (fromId === toId) continue;

		calculators.push({
			title: `${from.title}轉${to.title}進位`,
			href: `/calculator/${fromId}/${toId}`,
			from: example.toString(from.base),
			to: example.toString(to.base),
		});
	}
}
---

<BaseLayout title="我只想要個快一點的小工具。" class="space-y-8">
	<H1 class="mb-8">我只想要個快一點的小工具。</H1>
	<H2 class="flex items-center gap-2"><Sparkles />為你推薦</H2>
	<HomeItem
		config={{
			title: "二的補數計算機",
			href: "/two-complement",
			from: "01000101",
			to: "10111011",
		}}
	/>
	<H2 class="flex items-center gap-2"><ArrowRightLeft />進制轉換</H2>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
		{calculators.map((item) => <HomeItem config={item} />)}
	</div>
</BaseLayout>
