---
import "@/styles/global.css";

import { calculatorTypes } from "@/utils/calculator";
import BaseLayout from "@/layouts/base-layout.astro";
import { calculatorConfig } from "@/utils/calculator";
import { ArrowRightLeft } from "lucide-react";
import { type InferGetStaticPropsType } from "astro";
import { Calculator } from "@/components/calculator";
import { Separator } from "@/components/ui/separator";
import Article from "@/articles/calculator.mdx";

export function getStaticPaths() {
  const paths: {
    props: {
      fromId: string;
      toId: string;
    };
    params: {
      from: string;
      to: string;
    };
  }[] = [];

  for (const from of calculatorTypes) {
    for (const to of calculatorTypes) {
      if (from === to) continue;

      paths.push({
        props: {
          fromId: from,
          toId: to,
        },
        params: {
          from,
          to,
        },
      });
    }
  }

  return paths;
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { fromId, toId } = Astro.props as Props;

const title = `即時${calculatorConfig[fromId].title}進制轉${calculatorConfig[toId].title}進制轉換器`;
const description = `在線上使用瀏覽器${title}的計算機`;
---

<BaseLayout title={title} description={description}>
  <div
    class="text-center min-h-[calc(100dvh-10rem)] md:min-h-[calc(100dvh-16rem)] flex justify-center flex-col"
  >
    <h3 class="text-3xl font-bold">即時進制轉換器</h3>
    <p class="text-muted-foreground">
      寫作業需要的時候很好用，讓你在不同進位快速轉換
    </p>
    <Calculator defaultFromId={fromId} defaultToId={toId} client:visible />
  </div>
  <Separator className="my-8 block bg-border/50" />
  <article class="my-4">
    <Article />
  </article>
</BaseLayout>
