---
import "~/styles/global.css";
import { getImage } from "astro:assets";
import type { ImageMetadata } from "astro";
import invariant from "tiny-invariant";
import logo from "~/assets/logo.png";
import Header from "~/components/header.astro";
import { cn } from "~/utils/cn";
import type { TranslateFunction } from "~/utils/language";
import { Toaster } from "../components/ui/sonner";
import { createTranslation } from "../utils/language";

interface Props {
  title: string;
  description?: string;
  icon?: ImageMetadata;
  class?: string;
  t: TranslateFunction;
}

const t = Astro.props.t ?? createTranslation("zh-tw");

const {
  title,
  description = t("global.description"),
  icon,
  class: className,
} = Astro.props;

const suffix = t("global.title");

const titleWithPrefix = title ? `${title} - ${suffix}` : suffix;

invariant(Astro.site, "Astro.site is not defined");

const url = `${Astro.site.origin}${Astro.url.pathname.replace(".html", "")}`;

const logoUrl = icon
  ? icon.src
  : (
      await getImage({
        src: logo,
      })
    ).src;

const schema = {
  "@context": "https://schema.org",
  "@type": "Tool",
  name: titleWithPrefix,
  description,
  image: logoUrl,
  url,
};

const themeScript = `!function e(){let t=localStorage.getItem("theme");!t&&window.matchMedia&&(t=matchMedia("(prefers-color-scheme: dark)").matches?"dark":"light"),"dark"===t&&document.querySelector("html").classList.add("dark"),localStorage.setItem("theme",t)}();`;
---

<html lang={t("href-lang")}>
  <head>
    <script set:html={themeScript} />
    <meta charset="utf-8" />
    <title>{titleWithPrefix}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:site_name" content={t("global.title")} />
    <meta name="og:image" content={logoUrl} />
    <meta name="og:url" content={logoUrl} />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content={t("href-lang")} />

    <meta name="twitter:creator" content="@yeecord" />
    <meta name="twitter:site" content="@yeecord" />

    <script type="application/ld+json" set:html={JSON.stringify(schema)} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href={logoUrl} />
    <link rel="canonical" href={url} />
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1801171681307308"
      crossorigin="anonymous"></script>
    <script
      is:inline
      src="https://cdn.databuddy.cc/databuddy.js"
      data-client-id="rrR0W9e63HpTjBdYru5l_"
      data-enable-batching="true"
      crossorigin="anonymous"
      async
    ></script>
  </head>
  <body>
    <Header t={Astro.props.t} />
  </body>
  <div class={cn("mb-8 md:mb-4 container mx-auto px-2.5", className)}>
    <slot />
    <Toaster client:idle />
  </div>
</html>
