---
import Header from "../components/header.astro";
import { getImage } from "astro:assets";
import { ImageMetadata } from "astro";
import logo from "@/assets/logo.png";
import { cn } from "@/utils/cn";

interface Props {
  title: string;
  description?: string;
  icon?: ImageMetadata;
  class?: string;
}

const {
  title,
  description = "實用的數學小工具，包含進位計算機等簡便小工具，以及乾淨的操作介面",
  icon,
  class: className,
} = Astro.props;

const suffix = "Yeecord 小工具";

const titleWithPrefix = title ? `${title} - ${suffix}` : suffix;

const url = `${Astro.site.origin}${Astro.url.pathname.replace(".html", "")}`;

const logoUrl = icon
  ? icon.src
  : (
      await getImage({
        src: logo,
      })
    ).src;

const schema = {
  "@context": "https://schema.org",
  "@type": "Tool",
  name: titleWithPrefix,
  description,
  image: logoUrl,
  url,
};

const themeScript = `!function e(){let t=localStorage.getItem("theme");!t&&window.matchMedia&&(t=matchMedia("(prefers-color-scheme: dark)").matches?"dark":"light"),"dark"===t&&document.querySelector("html").classList.add("dark"),localStorage.setItem("theme",t)}();`;
---

<html lang="zh-Hant-TW">
  <head>
    <script set:html={themeScript} />
    <meta charset="utf-8" />
    <title>{titleWithPrefix}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:site_name" content="Yeecord 小工具" />
    <meta name="og:image" content={logoUrl} />
    <meta name="og:url" content={logoUrl} />
    <meta name="twitter:creator" content="@yeecord" />
    <meta name="twitter:site" content="@yeecord" />

    <script type="application/ld+json" set:html={JSON.stringify(schema)} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href={logoUrl} />
    <link rel="canonical" href={url} />
  </head>
  <body>
    <Header />
  </body>
  <div class={cn("mb-8 md:mb-4 container", className)}>
    <slot />
  </div>
</html>
